/* ShoppingListDetail.css */
body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 20px;
}

/*div {*/
/*    max-width: 1000px;*/
/*    margin: auto;*/
/*    background: white;*/
/*    padding: 10px;*/
/*    margin-top: 10px;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*    border-radius: 8px;*/
/*}*/

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box;
}

button {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

input[type="text"]:focus,
button:focus {
    outline: none;
}

.completed {
    text-decoration: line-through;
    color: #d3d3d3;
}

.item {
    position: relative;
    padding: 20px 40px 20px 10px; /* top, right, bottom, left */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.checkbox {
    margin-right: 10px;
}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.App {
    margin: 0;
}

/* Ensure that the navbar sticks to the top */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* High z-index to keep it above other content */
}
